/* Pre card === */

.card-box {
  width: 280px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  margin: 15px;
  text-align: center;
  background: #fff;
  margin-left: 4%;
}

.car-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.btn-area {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.btn1, .btn2 {
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn1 {
  background: #e67e22;
  color: white;
}

.btn2 {
  background: #2ecc71;
  color: white;
}
.booking-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 25px;
  
}

.booking-form div {
  display: flex;
  flex-direction: column;
}